name: Java Tests

on:
  pull_request:
  workflow_call:

jobs:
  build-task-manager:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout target repo
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Checkout tests
        uses: actions/checkout@v3
        with:
          repository: 'yandex-praktikum/java-kanban'
          ref: ci
          path: tests

      - name: CheckStyle
        run: |
          find ./src -type f -name "*.java" > sources.txt
          while read FILE; do
            if [ -f "$FILE" ];  then
              echo Check: $FILE
              java -jar ./tests/lib/checkstyle-10.13.0-all.jar -c ./tests/checkstyle.xml $FILE
            fi
          done < sources.txt

      - name: Build application
        run: |
          find ./src -type f -name "*.java" > sources.txt
          javac -d out -cp ./tests/lib/junit-platform-console-standalone-1.9.3.jar:./lib/commons-lang3-3.14.0.jar:./src @sources.txt

      - name: Build tests
        run: |
          find ./test -type f -name "*.java" > tests.txt
           javac -d out -cp ./out:./tests/lib/junit-platform-console-standalone-1.9.3.jar:./lib/apiguardian-api-1.1.2.jar:./lib/commons-lang3-3.14.0.jar:./lib/junit-jupiter-5.10.2.jar:./lib/junit-jupiter-api-5.10.2.jar:./lib/junit-jupiter-engine-5.10.2.jar:./lib/junit-jupiter-params-5.10.2.jar:./lib/junit-platform-commons-1.10.2.jar:./lib/junit-platform-engine-1.10.2.jar:./lib/opentest4j-1.3.0.jar:./test @tests.txt

      - name: Run tests
        run: |
          java -jar ./tests/lib/junit-platform-console-standalone-1.9.3.jar --class-path ./lib/apiguardian-api-1.1.2.jar:./lib/commons-lang3-3.14.0.jar:./lib/junit-jupiter-5.10.2.jar:./lib/junit-jupiter-api-5.10.2.jar:./lib/junit-jupiter-engine-5.10.2.jar:./lib/junit-jupiter-params-5.10.2.jar:./lib/junit-platform-commons-1.10.2.jar:./lib/junit-platform-engine-1.10.2.jar:./lib/opentest4j-1.3.0.jar:./out --scan-class-path
